link  https://www.kaggle.com/datasets/devildyno/computer-science-students-career-prediction

In [124]:
import pandas as pd
data = pd.read_csv(r"C:\Users\mdimr\Downloads\archive (4)\cs_students.csv")

In [125]:
data

,Student ID,Name,Gender,Age,GPA,Major,Interested Domain,Projects,Future Career,Python,SQL,Java
0,1,John Smith,Male,21,3.5,Computer Science,Artificial Intelligence,Chatbot Development,Machine Learning Researcher,Strong,Strong,Weak
1,2,Alice Johnson,Female,20,3.2,Computer Science,Data Science,Data Analytics,Data Scientist,Average,Strong,Weak
2,3,Robert Davis,Male,22,3.8,Computer Science,Software Development,E-commerce Website,Software Engineer,Strong,Strong,Average
3,4,Emily Wilson,Female,21,3.7,Computer Science,Web Development,Full-Stack Web App,Web Developer,Weak,Strong,Strong
4,5,Michael Brown,Male,23,3.4,Computer Science,Cybersecurity,Network Security,Information Security Analyst,Average,Weak,Strong
...,...,...,...,...,...,...,...,...,...,...,...,...
175,176,Elijah Davis,Male,22,3.7,Computer Science,Web Development,Full-Stack Web App,Web Developer,Weak,Strong,Strong
176,177,Emma Johnson,Female,20,3.6,Computer Science,Cybersecurity,Security Auditing,Information Security Analyst,Strong,Average,Weak
177,178,Liam Wilson,Male,21,3.4,Computer Science,Machine Learning,Natural Language Processing,Machine Learning Engineer,Strong,Average,Weak
178,179,Sophia Johnson,Female,22,3.5,Computer Science,Database Management,SQL Database Administration,Database Administrator,Weak,Strong,Average
179,180,Michael Brown,Male,23,3.7,Computer Science,Cloud Computing,Cloud Solution Architecture,Cloud Solutions Architect,Strong,Strong,Weak

In [126]:
data.shape

(180, 12)

1. What is the average GPA of students who are interested in Data Science?
2. What is the percentage distribution of students by gender?
3. How many students have "Strong" Python skills and are interested in Software Development?
4. What is the distribution of students' future careers across different majors?
5. What is the average age of students with "Strong" SQL skills?
6. Who are the students with a GPA above 3.8 and "Strong" Java skills?
7. How many students are interested in Cybersecurity and have worked on Network Security projects?
8. What is the correlation between age and GPA among students?
9. How many students have "Weak" skills in both Python and Java?
10. What are the top 3 most common projects worked on by students?
11. What is the average GPA of students interested in Artificial Intelligence?
12. What is the percentage of students aiming to become Software Engineers?
13. What is the distribution of Python skills across different future careers?
14. How many students have "Strong" skills in all three programming languages (Python, SQL, Java)?
15. What is the most popular interested domain for students with a GPA below 3.0?
16. Who are the students with "Weak" SQL skills and want to pursue a career in Data Science?
17. What is the gender distribution of students with a GPA above 3.5?
18. How many students aged 21 and above are interested in Web Development?
19. Which future career is most common among female students?
20. What is the average GPA of students aiming to work in Machine Learning?

## 1.What is the average GPA of students who are interested in Data Science?

In [127]:
df=data[data['Interested Domain']=='Data Science']
df['GPA'].mean()

3.4615384615384617

## 2 What is the percentage distribution of students by gender?

In [128]:
gender_counts = df['Gender'].value_counts()
gender_percentage = (gender_counts / gender_counts.sum()) * 100
gender_percentage

Male      61.538462
Female    38.461538
Name: Gender, dtype: float64

## 3.How many students have "Strong" Python skills and are interested in Software Development?

In [129]:
df=data[data['Python'] == 'Strong']
df[df['Interested Domain'] == 'Software Development'].count()

Student ID           5
Name                 5
Gender               5
Age                  5
GPA                  5
Major                5
Interested Domain    5
Projects             5
Future Career        5
Python               5
SQL                  5
Java                 5
dtype: int64

## 4. What is the distribution of students' future careers across different majors?

In [130]:
data.groupby('Major')['Future Career'].value_counts()

Major             Future Career
Computer Science  Web Developer                   19
                  Information Security Analyst    17
                  Mobile App Developer            17
                  Cloud Solutions Architect       16
                  Database Administrator          16
                  Software Engineer               14
                  Machine Learning Engineer       13
                  NLP Research Scientist          11
                  Graphics Programmer              9
                  Data Scientist                   8
                  AI Researcher                    6
                  Data Analyst                     6
                  Game Developer                   4
                  Bioinformatician                 2
                  Healthcare IT Specialist         2
                  Quantum Computing Researcher     2
                  UX Designer                      2
                  Blockchain Engineer              1
                  Computer Vision Engineer         1
                  Data Privacy Specialist          1
                  DevOps Engineer                  1
                  Digital Forensics Specialist     1
                  Distributed Systems Engineer     1
                  Embedded Software Engineer       1
                  Ethical Hacker                   1
                  Geospatial Analyst               1
                  IoT Developer                    1
                  Machine Learning Researcher      1
                  NLP Engineer                     1
                  Robotics Engineer                1
                  SEO Specialist                   1
                  Security Analyst                 1
                  VR Developer                     1
Name: Future Career, dtype: int64

## 6.. How many students have "Strong" Python skills and are interested in Software Development?

In [133]:
data[(data['GPA'] > 3.8) & (data['Java'] == 'Strong')]

,Student ID,Name,Gender,Age,GPA,Major,Interested Domain,Projects,Future Career,Python,SQL,Java
81,82,Agent Fitz,Male,35,3.9,Computer Science,Software Development,Social Media Platform,Software Engineer,Average,Weak,Strong
109,110,Laura Lee,Female,21,3.9,Computer Science,Distributed Systems,Distributed Systems Architect,Distributed Systems Engineer,Weak,Average,Strong

## 5. What is the average age of students with "Strong" SQL skills?

In [134]:
df=(data[data['SQL']=='Strong'])
df['Age'].mean()

22.253164556962027

## 6.. How many students have "Strong" Python skills and are interested in Software Development?

In [135]:
data[(data['GPA'] > 3.8) & (data['Java'] == 'Strong')]

,Student ID,Name,Gender,Age,GPA,Major,Interested Domain,Projects,Future Career,Python,SQL,Java
81,82,Agent Fitz,Male,35,3.9,Computer Science,Software Development,Social Media Platform,Software Engineer,Average,Weak,Strong
109,110,Laura Lee,Female,21,3.9,Computer Science,Distributed Systems,Distributed Systems Architect,Distributed Systems Engineer,Weak,Average,Strong

## 7. How many students are interested in Cybersecurity and have worked on Network Security projects?

In [136]:
data[(data['Interested Domain'] == 'Cybersecurity') & (data['Projects'] == 'Network Security')].count()

Student ID           14
Name                 14
Gender               14
Age                  14
GPA                  14
Major                14
Interested Domain    14
Projects             14
Future Career        14
Python               14
SQL                  14
Java                 14
dtype: int64

## 8. What is the correlation between age and GPA among students?

In [137]:
corr=data['Age'].corr(data['GPA'])
corr

0.20292469159722118

## 9. How many students have "Weak" skills in both Python and Java?

In [138]:
data[(data['Python'] == 'Weak') & (data['Java']=='Weak')].count()

Student ID           0
Name                 0
Gender               0
Age                  0
GPA                  0
Major                0
Interested Domain    0
Projects             0
Future Career        0
Python               0
SQL                  0
Java                 0
dtype: int64

## 10. What are the top 3 most common projects worked on by students?

In [139]:
data['Projects'].value_counts().head(3)

Natural Language Processing    14
Network Security               14
E-commerce Website             13
Name: Projects, dtype: int64

## 11. What is the average GPA of students interested in Artificial Intelligence?

In [140]:
Gpa=data[data["Interested Domain"] == 'Artificial Intelligence']
Gpa['GPA'].mean()

3.6842105263157894

## 12. What is the percentage of students aiming to become Software Engineers?

In [141]:
(data[data['Future Career'] == 'Software Engineer'].count()/data.shape[0])*100

Student ID           7.777778
Name                 7.777778
Gender               7.777778
Age                  7.777778
GPA                  7.777778
Major                7.777778
Interested Domain    7.777778
Projects             7.777778
Future Career        7.777778
Python               7.777778
SQL                  7.777778
Java                 7.777778
dtype: float64

## 13. What is the distribution of Python skills across different future careers?

In [142]:
df=data.groupby('Future Career')['Python'].value_counts()
df

Future Career                 Python
AI Researcher                 Strong      6
Bioinformatician              Weak        2
Blockchain Engineer           Weak        1
Cloud Solutions Architect     Strong     11
                              Weak        5
Computer Vision Engineer      Strong      1
Data Analyst                  Average     4
                              Strong      2
Data Privacy Specialist       Weak        1
Data Scientist                Average     7
                              Strong      1
Database Administrator        Average    10
                              Weak        6
DevOps Engineer               Strong      1
Digital Forensics Specialist  Weak        1
Distributed Systems Engineer  Weak        1
Embedded Software Engineer    Weak        1
Ethical Hacker                Strong      1
Game Developer                Weak        4
Geospatial Analyst            Weak        1
Graphics Programmer           Weak        9
Healthcare IT Specialist      Weak        2
Information Security Analyst  Average     8
                              Weak        6
                              Strong      3
IoT Developer                 Weak        1
Machine Learning Engineer     Strong     13
Machine Learning Researcher   Strong      1
Mobile App Developer          Average    12
                              Weak        4
                              Strong      1
NLP Engineer                  Strong      1
NLP Research Scientist        Strong     11
Quantum Computing Researcher  Strong      1
                              Weak        1
Robotics Engineer             Strong      1
SEO Specialist                Weak        1
Security Analyst              Strong      1
Software Engineer             Strong      9
                              Average     5
UX Designer                   Strong      1
                              Weak        1
VR Developer                  Weak        1
Web Developer                 Weak       15
                              Strong      4
Name: Python, dtype: int64

## 14. How many students have "Strong" skills in all three programming languages (Python, SQL, Java)?

In [143]:
data[(data['Python'] == 'Strong') & (data['SQL']=='Strong') & (data['Java']=='Strong') ].count()

Student ID           0
Name                 0
Gender               0
Age                  0
GPA                  0
Major                0
Interested Domain    0
Projects             0
Future Career        0
Python               0
SQL                  0
Java                 0
dtype: int64

## 15. What is the most popular interested domain for students with a GPA below 3.0?

In [144]:
gpa=data[data['GPA'] < 3.0]
gpa

Empty DataFrame
Columns: [Student ID, Name, Gender, Age, GPA, Major, Interested Domain, Projects, Future Career, Python, SQL, Java]
Index: []

## 16. Who are the students with "Weak" SQL skills and want to pursue a career in Data Science?

In [145]:
data[(data['SQL'] == 'Weak') & (data['Interested Domain']=='Data Science')]

,Student ID,Name,Gender,Age,GPA,Major,Interested Domain,Projects,Future Career,Python,SQL,Java
142,143,Olivia Brown,Female,22,3.5,Computer Science,Data Science,Data Mining,Data Analyst,Average,Weak,Strong
162,163,Olivia Brown,Female,22,3.5,Computer Science,Data Science,Data Mining,Data Analyst,Average,Weak,Strong

## 17. What is the gender distribution of students with a GPA above 3.5?

In [146]:
Gpa=data[data['GPA'] > 3.5]
Gpa['Gender'].value_counts()

Male      68
Female    49
Name: Gender, dtype: int64

## 18. How many students aged 21 and above are interested in Web Development?

In [147]:
data[(data['Age'] > 21) & (data['Interested Domain']=='Web Development')].count()

Student ID           12
Name                 12
Gender               12
Age                  12
GPA                  12
Major                12
Interested Domain    12
Projects             12
Future Career        12
Python               12
SQL                  12
Java                 12
dtype: int64

## 19. Which future career is most common among female students?

In [148]:
Female=data[data['Gender']=='Female']
Female['Future Career'].value_counts().idxmax()

'Mobile App Developer'

## 20. What is the average GPA of students aiming to work in Machine Learning?

In [149]:
ML= data[data['Interested Domain']=='Machine Learning']
ML['GPA'].mean()

3.7461538461538457